.quiz-result-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.low-score {
  background-color: red;
}

.average-score {
  background-color: yellow;
}

.high-score {
  background-color: green;
}

.correct-option {
  background-color: lightgreen;
}

.incorrect-selected-option {
  background-color: lightcoral;
}

.total-score {
  text-align: center;
  width: 500px;
}

.btn-create-new-quiz {
  width: 500px;
}
