.quiz-maker-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.quiz-maker-full-width {
  width: 100%;
}

.quiz-maker-button-row {
  display: table-cell;
}

.quiz-maker-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

td {
  padding-right: 8px;
}

section {
  display: table;
}

.question-selected {
  background-color: lightgreen;
}

.btn-submit-quiz {
  width: 500px;
}
