<h1>Quiz Maker</h1>

<form class="quiz-maker-form">
  <table class="quiz-maker-full-width">
    <tr>
      <td>
        <mat-form-field class="quiz-maker-full-width">
          <mat-label>Select a category</mat-label>
          <mat-select
            required
            id="categorySelect"
            [formControl]="categoryControl"
          >
            <mat-option
              *ngFor="let category of categories$ | async"
              [value]="category.id"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="quiz-maker-full-width">
          <mat-label>Select difficulty</mat-label>
          <mat-select
            required
            id="difficultySelect"
            [formControl]="difficultyControl"
          >
            <mat-option
              *ngFor="let difficulty of difficulties"
              [value]="difficulty.id"
            >
              {{ difficulty.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <button
          id="createBtn"
          mat-raised-button
          color="primary"
          (click)="createQuiz()"
        >
          Create
        </button>
      </td>
    </tr>
  </table>

  <pre>{{ quizData$ | async | json }}</pre>

  <button mat-raised-button color="accent" (click)="submitQuiz()">
    Submit
  </button>
</form>
