<h1>Quiz Maker</h1>

<form class="quiz-maker-form">
  <table class="quiz-maker-full-width">
    <tr>
      <td>
        <mat-form-field class="quiz-maker-full-width" appearance="outline">
          <mat-label>Select a category</mat-label>
          <mat-select
            required
            id="categorySelect"
            [formControl]="categoryControl"
          >
            <mat-option
              *ngFor="let category of categoryOptions$ | async"
              [value]="category.id"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="categoryControl.hasError('required')">
            Category is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="quiz-maker-full-width" appearance="outline">
          <mat-label>Select difficulty</mat-label>
          <mat-select
            required
            id="difficultySelect"
            [formControl]="difficultyControl"
          >
            <mat-option
              *ngFor="let difficulty of difficultyOptions"
              [value]="difficulty.id"
            >
              {{ difficulty.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="difficultyControl.hasError('required')">
            Difficulty is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <button
          id="createBtn"
          mat-stroked-button
          color="primary"
          (click)="onCreate()"
          [disabled]="categoryControl.invalid || difficultyControl.invalid"
        >
          Create
        </button>
      </td>
    </tr>
  </table>

  <ng-container *ngIf="relatedQuestions$ | async as relatedQuestions">
    <section *ngFor="let relatedQuestion of relatedQuestions">
      <p [innerHTML]="relatedQuestion.question"></p>
      <section>
        <div class="quiz-maker-button-row">
          <button
            *ngFor="let option of relatedQuestion.options"
            mat-flat-button
            [color]="option.isSelected ? 'primary' : null"
            (click)="onSelect(relatedQuestion, option)"
            [innerHtml]="option.text"
          ></button>
        </div>
      </section>
    </section>

    <button
      mat-raised-button
      color="primary"
      (click)="onSubmit(relatedQuestions)"
      *ngIf="isVisible(relatedQuestions)"
    >
      Submit
    </button>
  </ng-container>
</form>
