<h1>Quiz Maker</h1>

<form class="quiz-maker-form">
  <table class="quiz-maker-full-width">
    <tr>
      <td>
        <mat-form-field class="quiz-maker-full-width" appearance="outline">
          <mat-label>Select a category</mat-label>
          <mat-select
            required
            id="categorySelect"
            [formControl]="categoryControl"
          >
            <mat-option
              *ngFor="let category of categoryOptions$ | async"
              [value]="category.id"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="categoryControl.hasError('required')">
            Category is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="quiz-maker-full-width" appearance="outline">
          <mat-label>Select difficulty</mat-label>
          <mat-select
            required
            id="difficultySelect"
            [formControl]="difficultyControl"
          >
            <mat-option
              *ngFor="let difficulty of difficultyOptions"
              [value]="difficulty.id"
            >
              {{ difficulty.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="difficultyControl.hasError('required')">
            Difficulty is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <button
          id="createBtn"
          mat-stroked-button
          color="primary"
          (click)="onCreate()"
          [disabled]="categoryControl.invalid || difficultyControl.invalid"
        >
          Create
        </button>
      </td>
    </tr>
  </table>
</form>

<ng-container *ngIf="relatedQuestions$ | async as relatedQuestions">
  <section *ngFor="let relatedQuestion of relatedQuestions">
    <strong [innerHTML]="relatedQuestion.question"></strong>
    <section>
      <div class="quiz-maker-button-row">
        <button
          *ngFor="let option of relatedQuestion.options"
          mat-stroked-button
          [ngClass]="option.isSelected ? 'question-selected' : null"
          [innerHtml]="option.text"
          (click)="onSelect(relatedQuestion, option)"
        ></button>
      </div>
    </section>
    <br />
  </section>

  <br />

  <button
    color="primary"
    class="btn-submit-quiz"
    mat-raised-button
    *ngIf="isVisible(relatedQuestions)"
    (click)="onSubmit(relatedQuestions)"
  >
    Submit
  </button>
</ng-container>
